<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>article update</title>
  </head>
  <body>
    <table>
      <form name="form" method="POST" action="/api/update">
        <tr>
          <td>제목</td>
          <td><input type="text" name="title" value="" /></td>
        </tr>
        <tr>
          <td>코멘트</td>
          <td><textarea name="contents"></textarea></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" /></td>
        </tr>
      </form>
    </table>
  </body>
</html>
